body { background: grey;

}

p {display: block;background: red;}
























/* tablette */
@media screen and (max-width: 991px) { 
	body {background: red; } 


/*mobile */ 
@media screen and (max-width: 767px) { 
	body {background: yellow; } 